<div id="redmine-sendmail-form"
     class="redmine-sendmail-form"
     data-sendmail-form
     data-sendmail-preview-url="<%= preview_project_sendmail_dispatches_path(project) %>"
     data-sendmail-save-and-send-label="<%= l(:label_sendmail_save_and_send) %>"
     data-sendmail-label-heading="<%= l(:label_sendmail_preview_heading) %>"
     data-sendmail-label-stage1-heading="<%= l(:label_sendmail_stage1_heading) %>"
     data-sendmail-label-stage1-intro="<%= l(:label_sendmail_stage1_intro) %>"
     data-sendmail-label-stage1-continue="<%= l(:label_sendmail_stage1_continue) %>"
     data-sendmail-label-subject="<%= l(:label_sendmail_subject) %>"
     data-sendmail-label-from="<%= l(:label_sendmail_from_email) %>"
     data-sendmail-label-to="<%= l(:label_sendmail_mode_to) %>"
     data-sendmail-label-cc="<%= l(:label_sendmail_mode_cc) %>"
     data-sendmail-label-bcc="<%= l(:label_sendmail_mode_bcc) %>"
     data-sendmail-label-reply-to="<%= l(:label_sendmail_reply_to_email) %>"
     data-sendmail-label-send="<%= l(:label_sendmail_preview_send) %>"
     data-sendmail-label-edit="<%= l(:label_sendmail_preview_edit) %>"
     data-sendmail-label-close="<%= l(:button_close) %>"
     data-sendmail-label-sending="<%= l(:label_sendmail_preview_sending) %>"
     data-sendmail-label-attachments="<%= l(:label_sendmail_attachments) %>"
     data-sendmail-label-multi="<%= l(:label_sendmail_preview_multi_note) %>">
  <fieldset class="collapsible">
    <legend><%= l(:label_sendmail_send_new_issue) %></legend>
    <div class="redmine-sendmail-fields">
      <p>
        <label><%= l(:label_sendmail_recipients) %></label>
        <%= render partial: 'redmine_sendmail/recipient_fields',
                   locals: { contacts: contacts } %>
      </p>
      <p class="redmine-sendmail-subject" data-sendmail-subject-row style="display:none;">
        <label for="sendmail_new_subject"><%= l(:label_sendmail_subject) %></label>
        <%= text_field_tag 'sendmail[subject]', '',
                           id: 'sendmail_new_subject',
                           size: 60,
                           placeholder: l(:label_sendmail_new_subject_placeholder),
                           data: { 'sendmail-subject' => true } %>
        <em class="info"><%= l(:label_sendmail_new_subject_hint) %></em>
      </p>
      <p class="redmine-sendmail-hint" data-sendmail-hint style="display:none;">
        <em><%= l(:label_sendmail_will_send_new_issue_hint) %></em>
      </p>
    </div>
  </fieldset>
</div>
