<h2><%= l(:label_sendmail) %></h2>

<% if @dispatches.empty? %>
  <p class="nodata"><%= l(:label_sendmail_no_dispatches) %></p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <%= sort_header_tag('created_at', caption: l(:field_created_on)) %>
        <th><%= l(:field_issue) %></th>
        <th><%= l(:label_sendmail_mode) %></th>
        <%= sort_header_tag('recipient_email', caption: l(:label_sendmail_recipient)) %>
        <%= sort_header_tag('subject', caption: l(:label_sendmail_subject)) %>
        <th><%= l(:field_user) %></th>
        <%= sort_header_tag('status', caption: l(:field_status)) %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @dispatches.each do |d| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= format_time(d.created_at) %></td>
          <td><%= link_to "##{d.issue_id}", issue_path(d.issue_id) %></td>
          <td><%= sendmail_mode_label(d) %></td>
          <td><%= h(d.recipient_email) %><% if d.is_adhoc %> <span class="redmine-sendmail-adhoc-tag" title="<%= l(:label_sendmail_adhoc_tag) %>">✎</span><% end %></td>
          <td><%= h(d.subject) %></td>
          <td><%= h(d.user.try(:name)) %></td>
          <td><%= sendmail_status_cell(d) %></td>
          <td><%= link_to l(:button_view), project_sendmail_dispatch_path(@project, d) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p class="pagination"><%= pagination_links_full @dispatch_pages, @dispatch_count %></p>
<% end %>
