<h2><%= l(:label_sendmail) %> &mdash; <%= h(@dispatch.subject) %></h2>

<div class="box">
  <p><strong><%= l(:field_created_on) %>:</strong> <%= format_time(@dispatch.created_at) %></p>
  <p><strong><%= l(:field_issue) %>:</strong> <%= link_to "##{@dispatch.issue_id}", issue_path(@dispatch.issue_id) %></p>
  <p><strong><%= l(:field_user) %>:</strong> <%= h(@dispatch.user.try(:name)) %></p>
  <p><strong><%= l(:label_sendmail_recipient) %>:</strong>
     <%= h(@dispatch.recipient_name.presence || @dispatch.recipient_email) %>
     &lt;<%= h(@dispatch.recipient_email) %>&gt;</p>
  <p><strong><%= l(:label_sendmail_subject) %>:</strong> <%= h(@dispatch.subject) %></p>
  <p><strong><%= l(:field_status) %>:</strong>
    <% if @dispatch.sent? %>
      <span class="redmine-sendmail-status sent"><%= l(:label_sendmail_status_sent) %></span>
    <% else %>
      <span class="redmine-sendmail-status failed"><%= l(:label_sendmail_status_failed) %></span>
      <% reason = sendmail_failure_reason_label(@dispatch.failure_reason_detail) %>
      <% if reason.present? %>
        <br><strong><%= l(:label_sendmail_failure_diagnosis) %>:</strong> <%= h(reason) %>
      <% end %>
      <% if @dispatch.error_message.present? %>
        <br><em><%= h(@dispatch.error_message) %></em>
      <% end %>
    <% end %>
  </p>
</div>

<fieldset class="collapsible">
  <legend><%= l(:label_sendmail_body) %></legend>
  <pre class="redmine-sendmail-body"><%= h(@dispatch.body) %></pre>
</fieldset>

<p>
  <%= link_to l(:button_back), project_sendmail_dispatches_path(@project) %>
  <% if User.current.admin? %>
    &nbsp;|&nbsp;
    <%= button_to l(:label_sendmail_resend),
                  resend_project_sendmail_dispatch_path(@project, @dispatch),
                  method: :post,
                  data:   { confirm: l(:text_are_you_sure) },
                  class:  'redmine-sendmail-resend-button' %>
  <% end %>
</p>
