<%
  @settings = Setting.plugin_redmine_sendmail || {}
%>

<div class="box tabular settings redmine-sendmail-settings">
  <h3><%= l(:label_sendmail_settings_title) %></h3>

  <p>
    <label for="settings_subject_template"><%= l(:label_sendmail_subject_template) %></label>
    <%= text_field_tag 'settings[subject_template]',
                       @settings['subject_template'],
                       size: 60,
                       id: 'settings_subject_template' %>
    <em class="info"><%= l(:label_sendmail_subject_template_hint) %></em>
  </p>

  <p>
    <label for="settings_body_template"><%= l(:label_sendmail_body_template) %></label>
    <%= text_area_tag 'settings[body_template]',
                      @settings['body_template'],
                      rows: 14, cols: 80,
                      id: 'settings_body_template' %>
  </p>

  <p>
    <label for="settings_from_email"><%= l(:label_sendmail_from_email) %></label>
    <%= text_field_tag 'settings[from_email]',
                       @settings['from_email'],
                       size: 40, id: 'settings_from_email',
                       placeholder: 'no-reply@example.com' %>
    <em class="info"><%= l(:label_sendmail_from_email_hint) %></em>
  </p>

  <p>
    <label for="settings_from_name"><%= l(:label_sendmail_from_name) %></label>
    <%= text_field_tag 'settings[from_name]',
                       @settings['from_name'],
                       size: 40, id: 'settings_from_name',
                       placeholder: 'Support {project_name}' %>
    <em class="info"><%= l(:label_sendmail_from_name_hint) %></em>
  </p>

  <p>
    <label for="settings_reply_to_email"><%= l(:label_sendmail_reply_to_email) %></label>
    <%= text_field_tag 'settings[reply_to_email]',
                       @settings['reply_to_email'],
                       size: 40, id: 'settings_reply_to_email',
                       placeholder: 'support@example.com' %>
    <em class="info"><%= l(:label_sendmail_reply_to_email_hint) %></em>
  </p>

  <p>
    <label for="settings_use_project_alias"><%= l(:label_sendmail_use_project_alias) %></label>
    <%= hidden_field_tag 'settings[use_project_alias]', '0' %>
    <%= check_box_tag 'settings[use_project_alias]', '1',
                      @settings['use_project_alias'].to_s == '1',
                      id: 'settings_use_project_alias' %>
    <em class="info"><%= l(:label_sendmail_use_project_alias_hint) %></em>
  </p>

  <p>
    <label for="settings_project_identifier_slice"><%= l(:label_sendmail_project_identifier_slice) %></label>
    <%= text_field_tag 'settings[project_identifier_slice]',
                       @settings['project_identifier_slice'],
                       size: 12, id: 'settings_project_identifier_slice',
                       placeholder: '1-8' %>
    <em class="info"><%= l(:label_sendmail_project_identifier_slice_hint) %></em>
  </p>

  <p>
    <label for="settings_log_dispatches"><%= l(:label_sendmail_log_dispatches) %></label>
    <%= hidden_field_tag 'settings[log_dispatches]', '0' %>
    <%= check_box_tag 'settings[log_dispatches]', '1',
                      @settings['log_dispatches'].to_s == '1',
                      id: 'settings_log_dispatches' %>
  </p>
</div>

<div class="box tabular settings redmine-sendmail-settings">
  <h3><%= l(:label_sendmail_smtp_section) %></h3>
  <p class="info"><em><%= l(:label_sendmail_smtp_intro) %></em></p>

  <p>
    <label for="settings_smtp_use_mail_handler"><%= l(:label_sendmail_smtp_use_mail_handler) %></label>
    <%= hidden_field_tag 'settings[smtp_use_mail_handler]', '0' %>
    <%= check_box_tag 'settings[smtp_use_mail_handler]', '1',
                      @settings['smtp_use_mail_handler'].to_s == '1',
                      id: 'settings_smtp_use_mail_handler' %>
    <em class="info"><%= l(:label_sendmail_smtp_use_mail_handler_hint) %></em>
  </p>

  <p>
    <label for="settings_use_custom_smtp"><%= l(:label_sendmail_use_custom_smtp) %></label>
    <%= hidden_field_tag 'settings[use_custom_smtp]', '0' %>
    <%= check_box_tag 'settings[use_custom_smtp]', '1',
                      @settings['use_custom_smtp'].to_s == '1',
                      id: 'settings_use_custom_smtp' %>
  </p>

  <p>
    <label for="settings_smtp_host"><%= l(:label_sendmail_smtp_host) %></label>
    <%= text_field_tag 'settings[smtp_host]', @settings['smtp_host'],
                       size: 30, id: 'settings_smtp_host',
                       placeholder: 'smtp.example.com' %>
  </p>
  <p>
    <label for="settings_smtp_port"><%= l(:label_sendmail_smtp_port) %></label>
    <%= text_field_tag 'settings[smtp_port]', @settings['smtp_port'],
                       size: 6, id: 'settings_smtp_port',
                       placeholder: '587' %>
  </p>
  <p>
    <label for="settings_smtp_ssl"><%= l(:label_sendmail_smtp_ssl) %></label>
    <%= hidden_field_tag 'settings[smtp_ssl]', '0' %>
    <%= check_box_tag 'settings[smtp_ssl]', '1',
                      @settings['smtp_ssl'].to_s == '1',
                      id: 'settings_smtp_ssl' %>
    <em class="info"><%= l(:label_sendmail_smtp_ssl_hint) %></em>
  </p>
  <p>
    <label for="settings_smtp_starttls"><%= l(:label_sendmail_smtp_starttls) %></label>
    <%= hidden_field_tag 'settings[smtp_starttls]', '0' %>
    <%= check_box_tag 'settings[smtp_starttls]', '1',
                      @settings['smtp_starttls'].to_s == '1',
                      id: 'settings_smtp_starttls' %>
    <em class="info"><%= l(:label_sendmail_smtp_starttls_hint) %></em>
  </p>
  <p>
    <label for="settings_smtp_username"><%= l(:label_sendmail_smtp_username) %></label>
    <%= text_field_tag 'settings[smtp_username]', @settings['smtp_username'],
                       size: 30, id: 'settings_smtp_username', autocomplete: 'off' %>
  </p>
  <p>
    <label for="settings_smtp_password"><%= l(:label_sendmail_smtp_password) %></label>
    <%= password_field_tag 'settings[smtp_password]', @settings['smtp_password'],
                           size: 30, id: 'settings_smtp_password', autocomplete: 'new-password' %>
  </p>
  <p>
    <label for="settings_smtp_authentication"><%= l(:label_sendmail_smtp_authentication) %></label>
    <%= select_tag 'settings[smtp_authentication]',
                   options_for_select(%w[plain login cram_md5], @settings['smtp_authentication'].presence || 'plain'),
                   id: 'settings_smtp_authentication' %>
  </p>
  <p>
    <label for="settings_smtp_domain"><%= l(:label_sendmail_smtp_domain) %></label>
    <%= text_field_tag 'settings[smtp_domain]', @settings['smtp_domain'],
                       size: 30, id: 'settings_smtp_domain',
                       placeholder: 'example.com' %>
    <em class="info"><%= l(:label_sendmail_smtp_domain_hint) %></em>
  </p>
</div>

<div class="box redmine-sendmail-help">
  <h3><%= l(:label_sendmail_placeholders) %></h3>
  <ul>
    <li><code>{user_name}</code> &mdash; <%= l(:help_sendmail_user_name) %></li>
    <li><code>{user_email}</code></li>
    <li><code>{user_login}</code>, <code>{user_firstname}</code>, <code>{user_lastname}</code></li>
    <li><code>{ticket_id}</code> &mdash; <%= l(:help_sendmail_ticket_id) %></li>
    <li><code>{ticket_subject}</code>, <code>{ticket_url}</code></li>
    <li><code>{project_name}</code>, <code>{project_identifier}</code></li>
    <li><code>{projekt-kennung}</code> &mdash; <%= l(:help_sendmail_projekt_kennung) %></li>
    <li><code>{project_info_1}</code>, <code>{project_info_2}</code> &mdash; <%= l(:help_sendmail_project_info) %></li>
    <li><code>{recipient_name}</code>, <code>{recipient_email}</code></li>
    <li><code>{custom_subject}</code> &mdash; <%= l(:help_sendmail_custom_subject) %></li>
    <li><code>{comment}</code> &mdash; <%= l(:help_sendmail_comment) %></li>
    <li><code>{date}</code></li>
  </ul>
</div>
